.gnomenu-panel-box {
    margin: 0px;
}

.gnomenu-panel-button {
    margin: 0px;
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

.gnomenu-panel-button-icon {
    margin: 0px;
}

/*------------------------------*/

.gnomenu-menu-box {
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
}

.gnomenu-menu-topPane {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 0px;
}

.gnomenu-menu-middlePane {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.gnomenu-menu-middlePane StScrollBar {
    width: 12px;
}

.gnomenu-menu-bottomPane {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

/*------------------------------*/

.gnomenu-categorypanel-box {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.4);
    border-radius: 20px;
}

/*------------------------------*/

.gnomenu-viewMode-box {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.4);
    border-radius: 20px;
    spacing: 4px;
}

/*------------------------------*/

.gnomenu-search-box {
}

.gnomenu-search-searchEntry {
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    background-gradient-direction: vertical;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.3);
    width: 280px;
    font-size: 11pt;
    font-weight: normal;
    height: 32px;
    padding: 0px 12px;
}

.gnomenu-search-searchEntry-icon {
}

/*------------------------------*/

.gnomenu-sidebar-scrollbox {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.4);
    border-radius: 8px 0px 0px 8px;
    padding: 4px;
}

.gnomenu-sidebar-box {
    padding: 0px;
    spacing: 3px;
}

/*------------------------------*/

.gnomenu-categories-workspaces-wrapper {
    padding: 0px 0px 0px 0px;
}

.gnomenu-categories-workspaces-scrollbox {
    border-image: url("sepa-right.png") 12 12 12 12;
    height: 540px;
    padding: 9px 2px 9px 0px;
}

.gnomenu-categories-box {
    padding-left: 6px;
    padding-right: 6px;
    spacing: 11px;
}

.gnomenu-workspaces-box {
    padding-left: 6px;
    padding-right: 6px;
    spacing: 11px;
}

.gnomenu-workspace-thumbnails {
    spacing: 11px;
}

.gnomenu-workspaces-background {
    padding: 5px 13px 5px 11px;
}

/*------------------------------*/

.gnomenu-controlPane-box {
    border-width: 1px;
    spacing: 5px;
}

/*------------------------------*/

.gnomenu-mainArea-box {
    border-image: url("b-panel-r.png") 12 12 12 12;
    padding-top: 5px;
    padding-right: 2px;
    padding-bottom: 5px;
    padding-left: 2px;
    width: 602px;
}

.gnomenu-applications-scrollbox {
}

.gnomenu-applications-box {
}

.gnomenu-applications-list-box {
    padding-top: 9px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 48px;
    spacing: 10px;
}

.gnomenu-applications-grid-box {
    padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 5px;
    spacing: 10px;
}

.gnomenu-searchArea-scrollbox {
}

.gnomenu-searchArea-box {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 35px;
}

.gnomenu-searchArea-category-box {
    padding-bottom: 10px;
}

.gnomenu-searchArea-category-box:open {
    padding-bottom: 50px;
}

.gnomenu-searchArea-list-box {
    padding-top: 10px;
    padding-left: 80px;
    spacing: 10px;
}

.gnomenu-searchArea-grid-box {
    padding-top: 10px;
    padding-left: 30px;
}

/*------------------------------*/

.gnomenu-description-box {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 30px;
    text-align: right;
    max-width: 100px;
}

.gnomenu-description-box-title {
    height: 28px;
    font-weight: bold;
    font-size: 16px;
}

.gnomenu-description-box-description {
    height: 20px;
    font-size: 14px;
}

/*------------------------------*/
/*--------  Buttons  -----------*/
/*------------------------------*/

.gnomenu-searchArea-category-button {
    border-radius: 6px;
    border-width: 1px;
    height: 30px;
    padding: 0px 10px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
}

.gnomenu-searchArea-category-button-label {
    font-size: 10pt;
    font-weight: normal;
    padding: 0px 0px 0px 24px;
}

.gnomenu-searchArea-category-button:active {
}

.gnomenu-searchArea-category-button:open {
}

.gnomenu-searchArea-category-button:pressed {
}

/*------------------------------*/

.gnomenu-textToggle-button {
    border-radius: 20px;
    border-width: 1px;
    height: 24px;
    padding-top: 5px;
    padding-right: 17px;
    padding-bottom: 5px;
    padding-left: 17px;
}

.gnomenu-textToggle-button:insensitive {
    color: #9f9f9f;
}

.gnomenu-textToggle-button:active {
}

.gnomenu-textToggle-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-textToggle-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-textToggle-button-label {
    font-size: 11pt;
    font-weight: normal;
}

/*------------------------------*/

.gnomenu-iconToggle-button {
    border-radius: 20px;
    border-width: 1px;
    height: 24px;
    padding-top: 5px;
    padding-right: 17px;
    padding-bottom: 5px;
    padding-left: 17px;
}

.gnomenu-iconToggle-button:insensitive {
}

.gnomenu-iconToggle-button:active {
}

.gnomenu-iconToggle-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-iconToggle-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

/*------------------------------*/

.gnomenu-text-button {
    border-radius: 4px;
    border-width: 1px;
    height: 32px;
    padding: 0px;
}

.gnomenu-text-button-label {
    font-size: 11pt;
    font-weight: bold;
    padding: 0px 10px;
}

.gnomenu-text-button:active {
}

.gnomenu-text-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.4);
}

.gnomenu-text-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

/*------------------------------*/

.gnomenu-icon-button {
    border-radius: 20px;
    border-width: 1px;
    padding: 6px 14px;
}

.gnomenu-icon-button:active {
}

.gnomenu-icon-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-icon-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

/*------------------------------*/

.gnomenu-appIcon-button {
    border-radius: 4px;
    border-width: 1px;
    padding: 4px;
}

.gnomenu-appIcon-button-symbolic {
    padding: 6px;
}

.gnomenu-appIcon-button:active {
}

.gnomenu-appIcon-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-appIcon-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

/*------------------------------*/

.gnomenu-appList-button {
    border-radius: 4px;
    border-width: 1px;
    padding: 0px 10px;
}

.gnomenu-appList-button-label {
    font-size: 11pt;
    font-weight: normal;
    padding: 5px 0px 5px 24px;
}

.gnomenu-appList-button:active {
}

.gnomenu-appList-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-appList-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}

/*------------------------------*/

.gnomenu-appGrid-button {
    border-width: 1px;
    border-radius: 7px;
    height: 94px;
    padding: 7px;
    width: 100px;
}

.gnomenu-appGrid-button-label {
    font-size: 10pt;
    font-weight: normal;
    padding-top: 0px;
    text-align: center;
    width: 80px;
}

.gnomenu-appGrid-button:active {
}

.gnomenu-appGrid-button:open {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.2);
    background-gradient-end: rgba(136,138,133,0.2);
    border: 1px solid rgba(136,138,133,0.5);
}

.gnomenu-appGrid-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(136,138,133,0.1);
    background-gradient-end: rgba(136,138,133,0.1);
    border: 1px solid rgba(136,138,133,0.5);
}
